tests/.env
.vscode/
*.pyc
**/*.pyc
*.logs
/tmp/*
__pycache__/
**/__pycache__/
*.logs
/tmp/*
/logs/*
__pycache__
*.pid
*.properties
.DS_Store
venv/
.venv/
env
.env
.pytest_cache/
.mypy_cache
test/.pytest_cache/
secrets.toml
.python-version

node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
node_modules
